/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Poppins:wght@400;600;800&display=swap');

body{
    font-family: 'Poppins', sans-serif;
}
.background{
    background-color: #FFFBF0;
}
.colorful-text{
    color: #FABE4C;
}
.banner{
    min-height: calc(100vh - 80px);
}
.style-text{
    font-family: 'Bebas Neue', cursive;
}
.custom-btn{
    background-image: linear-gradient(180deg, #A4BC46, #90a53c);
    color: #fff;
    border-radius: 10px;
    font-size: 18px;
    padding: 15px 25px;
    font-weight: 500;
    border: none;
    text-decoration: none;
}
.custom-btn:hover{
    background-image: linear-gradient(180deg,  #90a53c ,#A4BC46);
}
.image-style{
    border-radius: 20px;
}
.card-header{
    font-size: 25px;
    font-weight: 600;
    background-color: inherit;
    border: none;
}
.border-radius{
    border-radius: 15px;
}